
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}
.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}
.logo {
    width: 100%;
    text-align: center;
    margin-top: 50px;
}
.header-nav-box {
    margin-top: 79px;
}
.header-nav-box ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
.header-nav-box ul li a {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #8C8A8A;
    transition: all 0.5s;
}
.header-img {
    margin-top: 38px;
    text-align: center;
}
.header-img img {
    max-width: 1110px;
    width: 100%;
}
.main-box {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.main-box-left {
    background: #F0F0F0;
    max-width: 730px;
    width: 100%;
    padding: 50px 0;
}
.main-left-h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #4581B7;
    margin-left: 40px;
}
.main-box-left-p {
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #808080;
    margin-top: 25px;
    margin-left: 40px;
}
.main-box-right {
    background: #F0F0F0;
    max-width: 350px;
    width: 100%;
    padding: 50px 0 159px 0;
}
.main-right-h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #4581B7;
    margin-left: 40px;
}
.main-box-right-p {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #808080;
    margin-top: 25px;
    margin-left: 40px;
}
.tel {
    display: block;
    margin-top: 25px;
    color: #808080;
}

.mail {
    display: block;
    margin-top: 30px;
    color: #808080;
}
.footer-box {
    max-width: 1110px;
    width: 100%;
    background: #F0F0F0;
    padding: 15px 0;
    margin-top: 30px;
}
.footer-box-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}
.footer-p1 {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #808080;
}
.footer-p2 {
    display: block;
    margin-top: 10px;
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    color: #808080;
}

@media (max-width:1140px) {
    .header-img img {
        width: 100%;
    }

    .main-box {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
}

@media (max-width:650px) {
    .footer-content {
        flex-direction: column;
        gap: 30px;
    }

    .footer-box-right {
        align-items: center;
    }
}

@media (max-width:360px) {
    .footer-text {
        text-align: center;
    }
}


